src/Notes/wsdl/CustomerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer.ta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://customer.ta/" name="CustomerWS">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://customer.ta/" schemaLocation="CustomerWS.xml" />
        </xsd:schema>
    </types>
    <message name="addCustomer">
        <part name="parameters" element="tns:addCustomer" />
    </message>
    <message name="addCustomerResponse">
        <part name="parameters" element="tns:addCustomerResponse" />
    </message>
    <message name="getCustomerRate">
        <part name="parameters" element="tns:getCustomerRate" />
    </message>
    <message name="getCustomerRateResponse">
        <part name="parameters" element="tns:getCustomerRateResponse" />
    </message>
    <message name="hello">
        <part name="parameters" element="tns:hello" />
    </message>
    <message name="helloResponse">
        <part name="parameters" element="tns:helloResponse" />
    </message>
    <message name="isCustomerPayable">
        <part name="parameters" element="tns:isCustomerPayable" />
    </message>
    <message name="isCustomerPayableResponse">
        <part name="parameters" element="tns:isCustomerPayableResponse" />
    </message>
    <message name="addCustomerWorkBonus">
        <part name="parameters" element="tns:addCustomerWorkBonus" />
    </message>
    <message name="addCustomerWorkBonusResponse">
        <part name="parameters" element="tns:addCustomerWorkBonusResponse" />
    </message>
    <portType name="CustomerWS">
        <operation name="addCustomer">
            <input wsam:Action="http://customer.ta/CustomerWS/addCustomerRequest" message="tns:addCustomer" />
            <output wsam:Action="http://customer.ta/CustomerWS/addCustomerResponse" message="tns:addCustomerResponse" />
        </operation>
        <operation name="getCustomerRate">
            <input wsam:Action="http://customer.ta/CustomerWS/getCustomerRateRequest" message="tns:getCustomerRate" />
            <output wsam:Action="http://customer.ta/CustomerWS/getCustomerRateResponse" message="tns:getCustomerRateResponse" />
        </operation>
        <operation name="hello">
            <input wsam:Action="http://customer.ta/CustomerWS/helloRequest" message="tns:hello" />
            <output wsam:Action="http://customer.ta/CustomerWS/helloResponse" message="tns:helloResponse" />
        </operation>
        <operation name="isCustomerPayable">
            <input wsam:Action="http://customer.ta/CustomerWS/isCustomerPayableRequest" message="tns:isCustomerPayable" />
            <output wsam:Action="http://customer.ta/CustomerWS/isCustomerPayableResponse" message="tns:isCustomerPayableResponse" />
        </operation>
        <operation name="addCustomerWorkBonus">
            <input wsam:Action="http://customer.ta/CustomerWS/addCustomerWorkBonusRequest" message="tns:addCustomerWorkBonus" />
            <output wsam:Action="http://customer.ta/CustomerWS/addCustomerWorkBonusResponse" message="tns:addCustomerWorkBonusResponse" />
        </operation>
    </portType>
    <binding name="CustomerWSPortBinding" type="tns:CustomerWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="addCustomer">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getCustomerRate">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="hello">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="isCustomerPayable">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="addCustomerWorkBonus">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="CustomerWS">
        <port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
            <soap:address location="http://172.17.75.2:9090/TA_WS/CustomerWS" />
        </port>
    </service>
</definitions>
