src/Notes/wsdl/naturalPersonInfoNtsw.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.datacontract.org/2004/07/NewSabtAhvalSAHA" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://tempuri.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/">
    <wsp:Policy wsu:Id="UTOverTransport">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient"/>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <xsd:import namespace="http://schemas.datacontract.org/2004/07/NewSabtAhvalSAHA"/>
            <xsd:element name="getPersonInfoSAHA96M">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="nationalCode" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPersonInfoSAHA96MResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="getPersonInfoSAHA96MResult" nillable="true" type="ns1:SabtAhvalSAHA.PersonInfoStract"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/">
            <xsd:element name="anyType" nillable="true" type="xsd:anyType"/>
            <xsd:element name="anyURI" nillable="true" type="xsd:anyURI"/>
            <xsd:element name="base64Binary" nillable="true" type="xsd:base64Binary"/>
            <xsd:element name="boolean" nillable="true" type="xsd:boolean"/>
            <xsd:element name="byte" nillable="true" type="xsd:byte"/>
            <xsd:element name="dateTime" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="decimal" nillable="true" type="xsd:decimal"/>
            <xsd:element name="double" nillable="true" type="xsd:double"/>
            <xsd:element name="float" nillable="true" type="xsd:float"/>
            <xsd:element name="int" nillable="true" type="xsd:int"/>
            <xsd:element name="long" nillable="true" type="xsd:long"/>
            <xsd:element name="QName" nillable="true" type="xsd:QName"/>
            <xsd:element name="short" nillable="true" type="xsd:short"/>
            <xsd:element name="string" nillable="true" type="xsd:string"/>
            <xsd:element name="unsignedByte" nillable="true" type="xsd:unsignedByte"/>
            <xsd:element name="unsignedInt" nillable="true" type="xsd:unsignedInt"/>
            <xsd:element name="unsignedLong" nillable="true" type="xsd:unsignedLong"/>
            <xsd:element name="unsignedShort" nillable="true" type="xsd:unsignedShort"/>
            <xsd:element name="char" nillable="true" type="ns0:char"/>
            <xsd:simpleType name="char">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:element name="duration" nillable="true" type="ns0:duration"/>
            <xsd:simpleType name="duration">
                <xsd:restriction base="xsd:duration">
                    <xsd:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
                    <xsd:minInclusive value="-P10675199DT2H48M5.4775808S"/>
                    <xsd:maxInclusive value="P10675199DT2H48M5.4775807S"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="guid" nillable="true" type="ns0:guid"/>
            <xsd:simpleType name="guid">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:attribute name="FactoryType" type="xsd:QName"/>
            <xsd:attribute name="Id" type="xsd:ID"/>
            <xsd:attribute name="Ref" type="xsd:IDREF"/>
        </xsd:schema>
        <xsd:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NewSabtAhvalSAHA" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NewSabtAhvalSAHA">
            <xsd:complexType name="SabtAhvalSAHA.SabtAhvalInformationClass">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="BrthDate" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DEATHE_DATE" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ErrorCode" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="ErrorDescription" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FLAG" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Family" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FthName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IsLive" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="NationalId" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ShIdNum" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SabtAhvalSAHA.SabtAhvalInformationClass" nillable="true" type="ns1:SabtAhvalSAHA.SabtAhvalInformationClass"/>
            <xsd:complexType name="SabtAhvalSAHA.PersonInfoStract">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="BirthDate" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="DeathDate" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ErrorCode" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="ErrorDescription" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FatherName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IdentityNo" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IdentitySerial" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IdentitySeries" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="IsLive" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LastName" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="NationalCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SupervisorNationalCode" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Town" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Vilage" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SabtAhvalSAHA.PersonInfoStract" nillable="true" type="ns1:SabtAhvalSAHA.PersonInfoStract"/>
            <xsd:complexType name="SabtAhvalSAHA.GeneralAnswer">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="error" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="errorDesc" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SabtAhvalSAHA.GeneralAnswer" nillable="true" type="ns1:SabtAhvalSAHA.GeneralAnswer"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ISabtAhvalSAHA_getPersonInfoSAHA96M_InputMessage">
        <wsdl:part name="parameters" element="tns:getPersonInfoSAHA96M"/>
    </wsdl:message>
    <wsdl:message name="ISabtAhvalSAHA_getPersonInfoSAHA96M_OutputMessage">
        <wsdl:part name="parameters" element="tns:getPersonInfoSAHA96MResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetPersonInfo-NIOPDCPortType" wsp:PolicyURIs="#UTOverTransport">
        <wsdl:operation name="getPersonInfoSAHA96M">
            <wsdl:input message="tns:ISabtAhvalSAHA_getPersonInfoSAHA96M_InputMessage" wsaw:Action="http://tempuri.org/ISabtAhvalSAHA/getPersonInfoSAHA96M"/>
            <wsdl:output message="tns:ISabtAhvalSAHA_getPersonInfoSAHA96M_OutputMessage" wsaw:Action="//tempuri.org/ISabtAhvalSAHA/getPersonInfoSAHA96MResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetPersonInfo-NIOPDCSoap11Binding" type="tns:GetPersonInfo-NIOPDCPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPersonInfoSAHA96M">
            <soap:operation soapAction="http://tempuri.org/ISabtAhvalSAHA/getPersonInfoSAHA96M" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetPersonInfo-NIOPDCSoap12Binding" type="tns:GetPersonInfo-NIOPDCPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPersonInfoSAHA96M">
            <soap12:operation soapAction="http://tempuri.org/ISabtAhvalSAHA/getPersonInfoSAHA96M" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetPersonInfo-NIOPDCHttpBinding" type="tns:GetPersonInfo-NIOPDCPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getPersonInfoSAHA96M">
            <http:operation location="getPersonInfoSAHA96M"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetPersonInfo-NIOPDC">
        <wsdl:port name="GetPersonInfo-NIOPDCHttpsSoap11Endpoint" binding="tns:GetPersonInfo-NIOPDCSoap11Binding">
            <soap:address location="https://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="GetPersonInfo-NIOPDCHttpSoap11Endpoint" binding="tns:GetPersonInfo-NIOPDCSoap11Binding">
            <soap:address location="http://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="GetPersonInfo-NIOPDCHttpsSoap12Endpoint" binding="tns:GetPersonInfo-NIOPDCSoap12Binding">
            <soap12:address location="https://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="GetPersonInfo-NIOPDCHttpSoap12Endpoint" binding="tns:GetPersonInfo-NIOPDCSoap12Binding">
            <soap12:address location="http://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="GetPersonInfo-NIOPDCHttpsEndpoint" binding="tns:GetPersonInfo-NIOPDCHttpBinding">
            <http:address location="https://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpsEndpoint"/>
        </wsdl:port>
        <wsdl:port name="GetPersonInfo-NIOPDCHttpEndpoint" binding="tns:GetPersonInfo-NIOPDCHttpBinding">
            <http:address location="http://sr-cix.ntsw.ir/services/GetPersonInfo-NIOPDC.GetPersonInfo-NIOPDCHttpEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
