src/Notes/wsdl/NIOPDC_SellInquiry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="NIOPDC_SellInquiry" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="NIOPDC_SellInquiry1.xml"
                        namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="NIOPDC_SellInquiry2.xml"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="NIOPDC_SellInquiry3.xml"
                        namespace="http://schemas.datacontract.org/2004/07/NIOPDC_TA.DTO"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="INIOPDC_SellInquiry_OnlinePersonInquiry_InputMessage">
        <wsdl:part name="parameters" element="tns:OnlinePersonInquiry"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_OnlinePersonInquiry_OutputMessage">
        <wsdl:part name="parameters" element="tns:OnlinePersonInquiryResponse"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_PersonInfoLegal_InputMessage">
        <wsdl:part name="parameters" element="tns:PersonInfoLegal"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_PersonInfoLegal_OutputMessage">
        <wsdl:part name="parameters" element="tns:PersonInfoLegalResponse"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_PersonInfoNatural_InputMessage">
        <wsdl:part name="parameters" element="tns:PersonInfoNatural"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_PersonInfoNatural_OutputMessage">
        <wsdl:part name="parameters" element="tns:PersonInfoNaturalResponse"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_OfflineAnswer_InputMessage">
        <wsdl:part name="parameters" element="tns:OfflineAnswer"/>
    </wsdl:message>
    <wsdl:message name="INIOPDC_SellInquiry_OfflineAnswer_OutputMessage">
        <wsdl:part name="parameters" element="tns:OfflineAnswerResponse"/>
    </wsdl:message>
    <wsdl:portType name="INIOPDC_SellInquiry">
        <wsdl:operation name="OnlinePersonInquiry">
            <wsdl:input wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/OnlinePersonInquiry"
                        message="tns:INIOPDC_SellInquiry_OnlinePersonInquiry_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/OnlinePersonInquiryResponse"
                         message="tns:INIOPDC_SellInquiry_OnlinePersonInquiry_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PersonInfoLegal">
            <wsdl:input wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoLegal"
                        message="tns:INIOPDC_SellInquiry_PersonInfoLegal_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoLegalResponse"
                         message="tns:INIOPDC_SellInquiry_PersonInfoLegal_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PersonInfoNatural">
            <wsdl:input wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoNatural"
                        message="tns:INIOPDC_SellInquiry_PersonInfoNatural_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoNaturalResponse"
                         message="tns:INIOPDC_SellInquiry_PersonInfoNatural_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="OfflineAnswer">
            <wsdl:input wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/OfflineAnswer"
                        message="tns:INIOPDC_SellInquiry_OfflineAnswer_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INIOPDC_SellInquiry/OfflineAnswerResponse"
                         message="tns:INIOPDC_SellInquiry_OfflineAnswer_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_INIOPDC_SellInquiry" type="tns:INIOPDC_SellInquiry">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OnlinePersonInquiry">
            <soap:operation soapAction="http://tempuri.org/INIOPDC_SellInquiry/OnlinePersonInquiry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PersonInfoLegal">
            <soap:operation soapAction="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoLegal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PersonInfoNatural">
            <soap:operation soapAction="http://tempuri.org/INIOPDC_SellInquiry/PersonInfoNatural" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OfflineAnswer">
            <soap:operation soapAction="http://tempuri.org/INIOPDC_SellInquiry/OfflineAnswer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NIOPDC_SellInquiry">
        <wsdl:port name="BasicHttpBinding_INIOPDC_SellInquiry" binding="tns:BasicHttpBinding_INIOPDC_SellInquiry">
            <soap:address location="http://172.17.50.49:8888/NIOPDC_SellInquiry.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
