src/Notes/wsdl/NiopdcSellService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="NiopdcSellService" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="NiopdcSellService_xsd0.xml"
                        namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="NiopdcSellService_xsd1.xml"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="NiopdcSellService_xsd2.xml"
                        namespace="http://schemas.datacontract.org/2004/07/NIOPDC_TA.DTO"/>
            <xsd:import schemaLocation="NiopdcSellService_xsd3.xml"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="INiopdcSellService_RegisterCustomerMajari_InputMessage">
        <wsdl:part name="parameters" element="tns:RegisterCustomerMajari"/>
    </wsdl:message>
    <wsdl:message name="INiopdcSellService_RegisterCustomerMajari_OutputMessage">
        <wsdl:part name="parameters" element="tns:RegisterCustomerMajariResponse"/>
    </wsdl:message>
    <wsdl:message name="INiopdcSellService_RegisterProduct_InputMessage">
        <wsdl:part name="parameters" element="tns:RegisterProduct"/>
    </wsdl:message>
    <wsdl:message name="INiopdcSellService_RegisterProduct_OutputMessage">
        <wsdl:part name="parameters" element="tns:RegisterProductResponse"/>
    </wsdl:message>
    <wsdl:message name="INiopdcSellService_SetExpireDate_InputMessage">
        <wsdl:part name="parameters" element="tns:SetExpireDate"/>
    </wsdl:message>
    <wsdl:message name="INiopdcSellService_SetExpireDate_OutputMessage">
        <wsdl:part name="parameters" element="tns:SetExpireDateResponse"/>
    </wsdl:message>
    <wsdl:portType name="INiopdcSellService">
        <wsdl:operation name="RegisterCustomerMajari">
            <wsdl:input wsaw:Action="http://tempuri.org/INiopdcSellService/RegisterCustomerMajari"
                        message="tns:INiopdcSellService_RegisterCustomerMajari_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INiopdcSellService/RegisterCustomerMajariResponse"
                         message="tns:INiopdcSellService_RegisterCustomerMajari_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RegisterProduct">
            <wsdl:input wsaw:Action="http://tempuri.org/INiopdcSellService/RegisterProduct"
                        message="tns:INiopdcSellService_RegisterProduct_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INiopdcSellService/RegisterProductResponse"
                         message="tns:INiopdcSellService_RegisterProduct_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SetExpireDate">
            <wsdl:input wsaw:Action="http://tempuri.org/INiopdcSellService/SetExpireDate"
                        message="tns:INiopdcSellService_SetExpireDate_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/INiopdcSellService/SetExpireDateResponse"
                         message="tns:INiopdcSellService_SetExpireDate_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_INiopdcSellService" type="tns:INiopdcSellService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegisterCustomerMajari">
            <soap:operation soapAction="http://tempuri.org/INiopdcSellService/RegisterCustomerMajari" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegisterProduct">
            <soap:operation soapAction="http://tempuri.org/INiopdcSellService/RegisterProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetExpireDate">
            <soap:operation soapAction="http://tempuri.org/INiopdcSellService/SetExpireDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NiopdcSellService">
        <wsdl:port name="BasicHttpBinding_INiopdcSellService" binding="tns:BasicHttpBinding_INiopdcSellService">
            <soap:address location="http://wstejaratasan.niopdc.ir/NiopdcSellService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
