src/Notes/wsdl/sms_xsd0.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="InsertMessage"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="InsertMessageResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="InsertMessageResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element></xs:schema>